{% extends 'template.html' %}

{% block title %}
Team Matcher | Profile Questions
{% endblock %}

{% block body %}
<!-- Content starts here -->
<div>
    <h1 class="py-10 text-center text-xl font-semibold text-gray-900">Welcome to CS 170 Team Matcher Page</h1>
    <ul class="p-4 mx-auto mt-10 max-w-7xl space-y-28">
        <!-- Element 1 starts here -->
        <li class=" border-b-2 border-gray-500 pb-10">
            <!-- Element 1: profile header starts -->
            <div class="flex justify-between w-full mb-3">
                <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-none">
                        <p class="font-semibold text-gray-900">Beiqi Wang</p>
                        <p class="text-md text-gray-500">Senior, CS and Philosophy</p>
                    </a>
                </div>
                <div class = "flex items-center space-x-4">
                    <a class="cursor-pointer">
                        <svg onclick=" Change_star_icon(this) " iewBox="0 0 24 24" class="w-6 h-6 fill-none stroke-[1.5] stroke-yellow-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                        </svg>
                    </a>
                    <button class="bg-blue-500 text-white px-2 py-2 rounded-full flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                        </svg>
                        <p class="ml-2 text-sm">
                            Message
                        </p>
                    </button>                        
                </div>

            </div>
            <!-- Element 1: profile header ends -->

            <!-- Element 1: profile starts -->
                <ul class="flex overflow-auto space-x-4 scrollbar">
                    <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                            alt="">
                    </li>
                    <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                            alt="">
                    </li>
                    <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                            alt="">
                    </li>
                    <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                            alt="">
                    </li>
                    <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                            alt="">
                    </li>
                    <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                            alt="">
                    </li>
                    <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                        <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                            alt="">
                    </li>
                </ul>     
            <!-- Element 1: profile ends -->

            <!-- Element 1: questions begins -->

            <ul class="space-y-4 mt-5">
                <li>
                    <h3 class="text-base font-semibold text-gray-900">
                        <a href="#" class="focus:outline-none">
                            <!-- Extend touch target to entire panel -->
                            Self-summery:
                        </a>
                    </h3>
                    <p class="text-lg text-gray-500"> Hi! I'm a senior studying CS and Philo at UC berkely. Looking for CS 10
                        partners to do group project with!
                        In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the visual
                        form of a
                        document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder
                        before final copy
                        is available.
                    </p>
                </li>
                <li>
                    <h3 class="text-base font-semibold text-gray-900">
                        <a href="#" class="focus:outline-none">
                            <!-- Extend touch target to entire panel -->
                            Some Classes that I enjoy at Berekely:
                        </a>
                    </h3>
                    <p class="text-lg text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                </li>
                <li>
                    <h3 class="text-base font-semibold text-gray-900">
                        <a href="#" class="focus:outline-none">
                            <!-- Extend touch target to entire panel -->
                            My github link: 
                        </a>
                    </h3>
                    <p class="text-lg text-gray-500"> https://github.com/b991</p>
                </li>
            </ul>
            <details class="mt-5 ">
                <summary class="cursor-pointer bg-red-100 w-fit p-3 rounded shadow-lg">View More</summary>
                <div class="">
                    <ul id="hidden_list" class=" mt-4 space-y-4 ">
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-lg text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-lg text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-lg text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                    </ul>    
                </div>
            </details>
        </li>

        <!-- Element 1 ends here -->

        <!-- more elements -->
        <li class=" border-b-2 border-gray-500 pb-10">
            <!-- Element 1: profile header starts -->
            <div class="flex justify-between w-full mb-3">
                <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-none">
                        <p class="font-semibold text-gray-900">Beiqi Wang</p>
                        <p class="text-sm text-gray-500">Senior, CS and Philosophy</p>
                    </a>
                </div>
                <div class="flex items-center space-x-4">
                    <a class="cursor-pointer">
                        <svg onclick=" Change_star_icon(this) " iewBox="0 0 24 24"
                            class="w-6 h-6 fill-none stroke-[1.5] stroke-yellow-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                        </svg>
                    </a>
                    <button class="bg-blue-500 text-white px-2 py-2 rounded-full flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                        </svg>
                        <p class="ml-2 text-sm">
                            Message
                        </p>
                    </button>
                </div>
        
            </div>
            <!-- Element 1: profile header ends -->
        
            <!-- Element 1: profile starts -->
            <ul class="flex overflow-auto space-x-4 scrollbar">
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
            </ul>
            <!-- Element 1: profile ends -->
        
            <!-- Element 1: questions begins -->
        
            <ul class="space-y-4">
                <li>
                    <h3 class="text-base font-semibold text-gray-900">
                        <a href="#" class="focus:outline-none">
                            <!-- Extend touch target to entire panel -->
                            Self-summery:
                        </a>
                    </h3>
                    <p class="text-sm text-gray-500"> Hi! I'm a senior studying CS and Philo at UC berkely. Looking for CS 10
                        partners to do group project with!
                        In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                        visual
                        form of a
                        document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder
                        before final copy
                        is available.
                    </p>
                </li>
                <li>
                    <h3 class="text-base font-semibold text-gray-900">
                        <a href="#" class="focus:outline-none">
                            <!-- Extend touch target to entire panel -->
                            Some Classes that I enjoy at Berekely:
                        </a>
                    </h3>
                    <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                </li>
                <li>
                    <h3 class="text-base font-semibold text-gray-900">
                        <a href="#" class="focus:outline-none">
                            <!-- Extend touch target to entire panel -->
                            My github link:
                        </a>
                    </h3>
                    <p class="text-sm text-gray-500"> https://github.com/b991</p>
                </li>
            </ul>
            <details class="mt-5 ">
                <summary class="cursor-pointer bg-red-100 w-fit p-3 rounded shadow-lg">View More</summary>
                <div class="">
                    <ul id="hidden_list" class=" mt-4 space-y-4 ">
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    <!-- Extend touch target to entire panel -->
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    <!-- Extend touch target to entire panel -->
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                    </ul>
                </div>
            </details>
        </li>
        <li class=" border-b-2 border-gray-500 pb-10">
            <!-- Element 1: profile header starts -->
            <div class="flex justify-between w-full mb-3">
                <div class="min-w-0 flex-1">
                    <a href="#" class="focus:outline-none">
                        <p class="font-semibold text-gray-900">Beiqi Wang</p>
                        <p class="text-sm text-gray-500">Senior, CS and Philosophy</p>
                    </a>
                </div>
                <div class="flex items-center space-x-4">
                    <a class="cursor-pointer">
                        <svg onclick=" Change_star_icon(this) " iewBox="0 0 24 24"
                            class="w-6 h-6 fill-none stroke-[1.5] stroke-yellow-600">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M11.48 3.499a.562.562 0 011.04 0l2.125 5.111a.563.563 0 00.475.345l5.518.442c.499.04.701.663.321.988l-4.204 3.602a.563.563 0 00-.182.557l1.285 5.385a.562.562 0 01-.84.61l-4.725-2.885a.563.563 0 00-.586 0L6.982 20.54a.562.562 0 01-.84-.61l1.285-5.386a.562.562 0 00-.182-.557l-4.204-3.602a.563.563 0 01.321-.988l5.518-.442a.563.563 0 00.475-.345L11.48 3.5z" />
                        </svg>
                    </a>
                    <button class="bg-blue-500 text-white px-2 py-2 rounded-full flex items-center">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="w-5 h-5">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
                        </svg>
                        <p class="ml-2 text-sm">
                            Message
                        </p>
                    </button>
                </div>
        
            </div>
            <!-- Element 1: profile header ends -->
        
            <!-- Element 1: profile starts -->
            <ul class="flex overflow-auto space-x-4 scrollbar">
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
                <li class="w-64 h-64 bg-cover bg-center rounded-md flex-shrink-0">
                    <img src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=1024&h=1024&q=80"
                        alt="">
                </li>
            </ul>
            <!-- Element 1: profile ends -->
        
            <!-- Element 1: questions begins -->
        
            <ul class="space-y-4">
                <li>
                    <h3 class="text-base font-semibold text-gray-900">
                        <a href="#" class="focus:outline-none">
                            <!-- Extend touch target to entire panel -->
                            Self-summery:
                        </a>
                    </h3>
                    <p class="text-sm text-gray-500"> Hi! I'm a senior studying CS and Philo at UC berkely. Looking for CS 10
                        partners to do group project with!
                        In publishing and graphic design, Lorem ipsum is a placeholder text commonly used to demonstrate the
                        visual
                        form of a
                        document or a typeface without relying on meaningful content. Lorem ipsum may be used as a placeholder
                        before final copy
                        is available.
                    </p>
                </li>
                <li>
                    <h3 class="text-base font-semibold text-gray-900">
                        <a href="#" class="focus:outline-none">
                            <!-- Extend touch target to entire panel -->
                            Some Classes that I enjoy at Berekely:
                        </a>
                    </h3>
                    <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                </li>
                <li>
                    <h3 class="text-base font-semibold text-gray-900">
                        <a href="#" class="focus:outline-none">
                            <!-- Extend touch target to entire panel -->
                            My github link:
                        </a>
                    </h3>
                    <p class="text-sm text-gray-500"> https://github.com/b991</p>
                </li>
            </ul>
            <details class="mt-5 ">
                <summary class="cursor-pointer bg-red-100 w-fit p-3 rounded shadow-lg">View More</summary>
                <div class="">
                    <ul id="hidden_list" class=" mt-4 space-y-4 ">
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    <!-- Extend touch target to entire panel -->
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                        <li>
                            <h3 class="text-base font-semibold text-gray-900">
                                <a href="#" class="focus:outline-none">
                                    <!-- Extend touch target to entire panel -->
                                    Some Classes that I enjoy at Berekely:
                                </a>
                            </h3>
                            <p class="text-sm text-gray-500"> Shakespear, Chinese, CS 61B and CS 61C</p>
                        </li>
                    </ul>
                </div>
            </details>
        </li>
    </ul>
</div>

<!-- Content ends here -->
{% endblock %}









